* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

adsza {
    height: 0%;
    width: 0%;
}

/* All the snapping stuff */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  /* scroll-snap-type: y mandatory; */
}

section {
  min-height: 100vh;
  scroll-snap-align: center;
}

/* Other styles */
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
