.description {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
@media (max-width: 900px) {
  .description {
    display: none;
  }
}
.comptencies {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
@media (max-width: 900px) {
  .description {
    display: none;
    background-color: black;
  }
  .comptencies {
    display: none;
    background-color: black;
  }
}
