.description {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.comptencies {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.experiences {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.header-social {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: right;
  display: flex;
  justify-content: flex-end;
}
.contact-email {
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  align-items: justify;
  white-space: nowrap;
  display: flex;
}
@media (max-width: 900px) {
  .description {
    display: none;
    background-color: black;
  }
  .comptencies {
    display: none;
    background-color: black;
  }
  .experiences {
    display: none;
    background-color: black;
  }
}
@media (max-width: 500px) {
  .header-social {
    display: none;
    background-color: black;
  }
  .contact-email {
    display: none;
    background-color: black;
  }
}
